@{
    ViewData["Title"] = "Criar perfil";
}

<div class="card mb-4">
    <div class="card-header">
        <h5 class="d-inline">
            <a href="~/Profile"><img src="~/img/back.png" style="width:28px; margin-left: -5px;" /></a>
            Adicionar perfill
        </h5>
    </div>
    <div class="card-body">
        <form style="margin-bottom: 10px;" id="AddProfileForm" name="AddProfileForm" autocomplete="off">
            <div class="row">
                <div class="col">
                    <label for="Name" class="fw-bold" style="margin-bottom:-10px;">Nome</label>
                    <input type="text" class="form-control" name="Name" id="Name" autocomplete="off" style="margin-bottom:10px;">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" id="SubmitAddProfile" class="btn btn-primary mt-4">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('#AddProfileForm').submit(function () {
            let name = document.getElementById("Name");
            if (name.value == "") {
                AddProfileForm.Name.focus();
                warningAlert("Por favor, preencha o nome!");
            }else {
                swal.fire({
                    title: "Confirma os dados inseridos?",
                    icon: 'warning',
                    background: '#212529',
                    color: '#fff',
                    showCancelButton: true,
                    confirmButtonColor: '#0D6EFD',
                    confirmButtonText: 'Sim!',
                    cancelButtonColor: '#6D757D',
                    cancelButtonText: "Cancelar!",
                    customClass: {
                        confirmButton: 'btn-size',
                        cancelButton: 'btn-size'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#AddProfileForm').addClass('form-blocked');
                        jQuery.ajax({
                            type: "POST",
                            url: baseUrl + "Profile/Add",
                            data: new FormData(document.getElementById("AddProfileForm")),
                            contentType: false,
                            processData: false,
                            success: function (data, textStatus, jqXHR) {
                                 successReloadToURL(baseUrl + "Profile/Details/" + data.id);
                            },
                            error: function (jqXHR) {
                                errorAlert("Ocorreu um erro!");
                                $('#AddProfileForm').removeClass('form-blocked');
                            }
                        });
                    }
                });
            }
            return false;
        });
    });
</script>