@{
    ViewData["Title"] = "Detalhes perfil";
}
<div class="card mb-4">
    <div class="card-header">
        <h5>Detalhes do perfil</h5>
    </div>
    <div class="card-body">
        <form class="minimal-form ms-4 me-4" id="DetailsForm" name="DetailsForm" autocomplete="off">
            <input type="hidden" name="id" value="@Model.profile.Id">
            <div class="row">
                <div class="col">
                    <label for="Name" class="fw-bold" style="margin-bottom:-10px;">Nome</label>
                    <input type="text" class="form-control" name="Name" id="Name" autocomplete="off" value="@Model.profile.Name" style="margin-bottom:10px;">
                </div>
                <div class="col-sm-2">
                    <label for="Active" class="fw-bold" style="margin-bottom:-10px;">Ativo</label>
                    <select name="Active" id="Active" class="form-select form-control">
                        <option value="true" selected="@(Model.profile.Active ? "selected" : null)">Sim</option>
                        <option value="false" selected="@(Model.profile.Active ? null : "selected")">Não</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Guardar" id="SubmitButton" class="btn btn-primary mt-4" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="d-inline">Categorias</h5>
        <button class="btn btn-primary ms-2">Adicionar</button>
    </div>
    <div class="card-body">
        @{
            if (Model.categories.Count > 0)
            {

            }
            else
            {
                <p>Este perfil ainda não tem categorias associadas!</p>
            }
        }
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#DetailsForm').submit(function () {
            let name = document.getElementById("Name");
            if (name.value == "") {
                DetailsForm.Name.focus();
                warningAlert("Por favor, preencha o nome!");
            }else {
                swal.fire({
                    title: "Confirma os dados inseridos?",
                    icon: 'warning',
                    background: '#212529',
                    color: '#fff',
                    showCancelButton: true,
                    confirmButtonColor: '#0D6EFD',
                    confirmButtonText: 'Sim!',
                    cancelButtonColor: '#6D757D',
                    cancelButtonText: "Cancelar!",
                    customClass: {
                        confirmButton: 'btn-size',
                        cancelButton: 'btn-size'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#DetailsForm').addClass('form-blocked');
                        jQuery.ajax({
                            type: "PUT",
                            url: baseUrl + "Profile/Details",
                            data: new FormData(document.getElementById("DetailsForm")),
                            mimeType: "multipart/form-data",
                            contentType: false,
                            processData: false,
                            success: function (data, textStatus, jqXHR) {
                                successAlert();
                                $('#DetailsForm').removeClass('form-blocked');
                            },
                            error: function (jqXHR) {
                                errorAlert("Ocorreu um erro!");
                                $('#DetailsForm').removeClass('form-blocked');
                            }
                        });
                    }
                });
            }
            return false;
        });
    });
</script>