@{
    ViewData["Title"] = "Adicionar registo";
}

<div class="card mb-4">
    <div class="card-header">
        <h5 class="d-inline">Adicionar registo</h5>
        <a href="~/Profile/Add"><img src="~/img/add.png" style="width:28px;" class="ms-1" /></a>
    </div>
    <div class="card-body">

    </div>
</div>