<div class="d-flex justify-content-center">
    <div class="w-100 p-5" style="max-width: 600px;">
        <h5>Gestão de Contas - Gestão de finanças pessoais</h5>
        <p>Aplicação WEB para gestão de contas mensais.</p>
        <p>Funcionalidades:</p>
        <ul>
            <li>possibilidade de ter varios perfis de contas (férias, casa, carro...);</li>
            <li>partilhar perfis de contas com outras pessoas;</li>
            <li>organização de contas por categorias;</li>
            <li>visualização de estatísticas de contas.</li>
        </ul>
        <p>Versão 2.1.0</p>
    </div>
</div>