@{
    ViewData["Title"] = "Conta";
}
<div class="d-flex justify-content-center">
    <div class="form-container" style="width:100%; max-width: 500px;">
        <h2 class="form-title text-center pt-5 pb-4">Detalhes da conta</h2>
        <form class="minimal-form ms-4 me-4" id="DetailsForm" name="DetailsForm" autocomplete="off">
            <div class="mb-4">
                <input type="text" class="form-control" placeholder="Nome" id="Name" name="Name" value="@Model.Name">
            </div>
            <div class="mb-4">
                <input type="email" class="form-control" placeholder="Email" id="Email" name="Email" disabled value="@Model.Email">
            </div>
            <button type="submit" id="SubmitLogin" class="btn btn-primary mb-3 w-100 p-2 mb-5">Alterar</button>
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#DetailsForm').submit(function () {
            let name = document.getElementById("Name");
            if (name.value == "") {
                DetailsForm.Name.focus();
                warningAlert("Por favor, preencha o nome!");
            }else {
                swal.fire({
                    title: "Confirma os dados inseridos?",
                    icon: 'warning',
                    background: '#212529',
                    color: '#fff',
                    showCancelButton: true,
                    confirmButtonColor: '#0D6EFD',
                    confirmButtonText: 'Sim!',
                    cancelButtonColor: '#6D757D',
                    cancelButtonText: "Cancelar!",
                    customClass: {
                        confirmButton: 'btn-size',
                        cancelButton: 'btn-size'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#DetailsForm').addClass('form-blocked');
                        jQuery.ajax({
                            type: "POST",
                            url: baseUrl + "Account/Details",
                            data: new FormData(document.getElementById("DetailsForm")),
                            mimeType: "multipart/form-data",
                            contentType: false,
                            processData: false,
                            success: function (data, textStatus, jqXHR) {
                                successAlert();
                                $('#DetailsForm').removeClass('form-blocked');
                            },
                            error: function (jqXHR) {
                                errorAlert("Ocorreu um erro!");
                                $('#DetailsForm').removeClass('form-blocked');
                            }
                        });
                    }
                });
            }
            return false;
        });
    });
</script>