@{
    ViewData["Title"] = "Criar conta";
}
<div class="d-flex justify-content-center">
    <div class="form-container" style="width:100%; max-width: 500px;">
        <form class="minimal-form ms-4 me-4" id="RegisterForm" name="RegisterForm" autocomplete="off">
            <h2 class="form-title text-center pt-5 pb-4">Criar conta</h2>
            <div class="mb-4">
                <input type="text" class="form-control" placeholder="Nome" id="Name" name="Name">
            </div>
            <div class="mb-4">
                <input type="email" class="form-control" placeholder="Email" id="Email" name="Email">
            </div>
            <button type="submit" id="SubmitLogin" class="btn btn-primary mb-3 w-100 p-2 mb-5">Registar</button>
        </form>
        <div class="w-100 text-center">
            <a href="~/Account/Login">Voltar ao login</a>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#RegisterForm').submit(function () {
            let name = document.getElementById("Name");
            let email = document.getElementById("Email");
            if (name.value == "") {
                RegisterForm.Name.focus();
                warningAlert("Por favor, preencha o nome!");
            }else if(email.value == "") {
                RegisterForm.Email.focus();
                warningAlert("Por favor, preencha o email!");
            }
            else {
                swal.fire({
                    title: "Confirma os dados inseridos?",
                    icon: 'warning',
                    background: '#212529',
                    color: '#fff',
                    showCancelButton: true,
                    confirmButtonColor: '#0D6EFD',
                    confirmButtonText: 'Sim!',
                    cancelButtonColor: '#6D757D',
                    cancelButtonText: "Cancelar!",
                    customClass: {
                        confirmButton: 'btn-size',
                        cancelButton: 'btn-size'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#RegisterForm').addClass('form-blocked');
                        jQuery.ajax({
                            type: "POST",
                            url: baseUrl + "Account/Register",
                            data: new FormData(document.getElementById("RegisterForm")),
                            mimeType: "multipart/form-data",
                            contentType: false,
                            processData: false,
                            success: function (data, textStatus, jqXHR) {
                                $('#RegisterForm').addClass('form-blocked');
                                successReloadToURL(baseUrl + "Account/Login");
                            },
                            error: function (jqXHR) {
                                if(jqXHR.status == 409){
                                    errorAlert("A conta já existe!");
                                }else{
                                    errorAlert("Ocorreu um erro!");
                                }
                                $('#RegisterForm').removeClass('form-blocked');
                            }
                        });
                    }
                });
            }
            return false;
        });
    });
</script>