<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    
    @{
        if (User?.Identity?.IsAuthenticated == false)
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
                </li>
            </ul>
        }
       

        if (User?.Identity?.IsAuthenticated == true)
        {
            <ul class="nav align-items-end ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: #fff;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.Name</a>
                    <ul class="dropdown-menu p-0">
                        <li><a class="nav-link" style="color: #fff;" asp-controller="Account" asp-action="Logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        }
    }
</div>